body {
  background-color: #6bbcbe;
}

@keyframes circleFlip {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes stickMotion {
  0% {
  }
  50% {
    transform: scaleY(2);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  animation: circleFlip 3s ease-in-out infinite;
}

.first,
.second,
.third {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin: 20px;
}

.boxTwo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
}

.firstBox,
.secondBox,
.thirdBox,
.forthBox,
.fifthBox {
  width: 20px;
  height: 60px;
  background-color: white;
  margin: 10px;
}

.firstBox {
  animation: stickMotion 1s ease-in-out infinite;
  animation-delay: -1s;
}

.secondBox {
  animation: stickMotion 1s ease-in-out infinite;
  animation-delay: -0.8s;
}
.thirdBox {
  animation: stickMotion 1s ease-in-out infinite;
  animation-delay: -0.7s;
}
.forthBox {
  animation: stickMotion 1s ease-in-out infinite;
  animation-delay: -0.6s;
}
.fifthBox {
  animation: stickMotion 1s ease-in-out infinite;
  animation-delay: -0.5s;
}
