.widget_page1 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 70px;
  margin: 10px 10px;
  background-color: #222222;
  height: 65px;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.widget_page1_text_artist {
  color: var(--GRAY-COLOR);
  font-size: var(--FONT-SIZE);
  font-weight: var(--FONT-WEIGHT);
  margin-left: 30px;
  margin-bottom: 5px;
}

.widget_page1_text_title {
  font-size: 20px;
  font-weight: var(--FONT-WEIGHT);
  color: white;
  margin-left: 30px;
}

.widget_page1_btns {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 30%;
  margin-right: 30px;
}
