body {
  background-color: var(--WHITE-COLOR);
}

.bg__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.bg__img img {
  width: 100%;
  height: 50%;
  text-align: center;
  opacity: 0.4;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.profile__img img {
  width: 35%;
  height: 35%;
}
