:root {
  --RED-COLOR: #b52038;
  --BLACK-COLOR: #4d5147;
  --WHITE-COLOR: #dde8e3;
  --GREEN-COLOR: #7e8f74;
  --LIGHT-GREEN-COLOR: #b0bda4;

  --TITLE-FONT-SIZE: 30px;
  --TITLE-FONT-WEIGHT: 700;
  --SUB-TITLE-FONT-SIZE: 20px;
  --BASIC-FONT-SIZE: 15px;
  --BASIC-FONT-WEIGHT: 600;
}
